* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #37474f;
}

h1 {
  font-size: 1.2em;
  margin-top: -20px;
}

h2 {
  font-size: 1.1em;
}

.nav-img {
  width: 100%;
  margin: 20px;
  height: auto;
}

header {
  background-color: #546e7a;
  width: 100%;
  padding: 1px;
  text-align: center;
  color: #eee;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.3em;
}
#nav {
  background-color: #37474f;
  color: #eee;
  font-size: 1.4vw;
  float: left;
  width: 14%;
}
#sidebar {
  background-color: #546e7a;
  width: 84%;
  float: right;
  font-size: 1.5em;
}

.main {
  color: #eee;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 15px;
}

.nav-main-detail-line {
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(165, 176, 243);
}

p {
  padding-bottom: 10px;
}

a:hover {
  color: aquamarine;
}

#foot {
  background-color: #37474f;
  width: 100%;
  text-align: center;
  padding: 1px;
  color: #eee;
  font-size: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  float: left;
}

@media (max-width: 550px) {
  header,
  footer {
    float: none;
    display: block;
    text-align: center;
  }
  #sidebar {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    font-size: calc(13px + 16 * (100vw / 1280));
  }
  #nav {
    width: 100%;
    float: none;
    font-size: calc(20px + 16 * (100vw / 1280));
    text-align: center;
  }
  .nav-img {
    margin: 0;
    height: auto;
  }
}
