* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #37474f;
}

h1 {
  font-size: 1.2em;
  margin-top: -20px;
}

h2 {
  font-size: 1.1em;
  margin-top: -10px;
}

.nav-img {
  width: 90%;
  height: auto;
  margin: 15px 15px 15px 15px;
}

header {
  background-color: #546e7a;
  width: 100%;
  padding: 1px;
  text-align: center;
  color: #eee;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.3em;
}

.main {
  color: #eee;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
  margin: 15px;
}

#nav {
  background-color: #37474f;
  color: #eee;
  font-size: 1.4em;
  float: left;
}

.nav-main-detail-line {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 20px;
}

#sidebar {
  background-color: #546e7a;
  width: 83%;
  float: right;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: rgb(165, 176, 243);
}

p {
  padding-bottom: 10px;
}

a:hover {
  color: aquamarine;
}

#foot {
  background-color: #37474f;
  width: 100%;
  text-align: center;
  padding: 1px;
  color: #eee;
  font-size: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  float: left;
}

@media (min-width: 320px) and (max-width: 1500px) {
  #sidebar {
    width: 100%;
    background-color: #546e7a;
    float: none;
    padding: 10px;
    text-align: justify;
  }

  #nav {
    width: 100%;
    background-color: #37474f;
    float: none;
    padding: 50px 0 0 50px;
  }
}
